.header {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.main {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  border-radius: var(--mantine-radius-lg) var(--mantine-radius-lg) 0 0;
  box-shadow: var(--mantine-shadow-lg);
  margin-top: 60px;
  padding-bottom: 0;
  min-height: calc(100vh - 60px);

  @media (max-width: 48em) {
    border-radius: 0;
  }
}

.navbar {
  background-color: var(--bg-color);
  color: var(--text-color);
  width: rem(80px);
}

.container {
  padding: 0;

  @media (max-width: 48em) {
    max-width: none;
  }
}
